In [1]:
import pandas as pd
import numpy as np

In [2]:
#import datasets
file = 'datasets/listings.csv'

In [3]:
#read file from pandas
data = pd.read_csv(file)

In [4]:
#look up the orginal columns
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,5570,Ocean front condo on the sand,8435,Jef Karchin,NaN,Mission Bay,32.78430,-117.25258,Entire home/apt,2050,3,0,NaN,NaN,3,148
1,29967,"Great home, 10 min walk to Beach",129123,Michael,NaN,Pacific Beach,32.80724,-117.25630,Entire home/apt,225,4,60,2018-08-09,0.49,5,325
2,38245,Point Loma: Den downstairs,164137,Melinda,NaN,Roseville,32.74202,-117.21870,Private room,75,1,143,2019-10-20,1.19,3,359
3,39516,Art Studio Retreat/Rustic Cabin,169649,Chris And Jean,NaN,North Hills,32.73188,-117.11918,Entire home/apt,74,3,400,2020-03-16,3.28,1,205
4,54001,"La Jolla 2 Bdr Cottage: 1 Qn; 2Twns, Blks 2 Ocn",252692,Marsha,NaN,La Jolla,32.81301,-117.26856,Entire home/apt,80,3,223,2020-07-02,1.92,2,274

In [6]:
#keep the intended columns
data = data[['id','name','neighbourhood','latitude','longitude','price']]

In [7]:
data.head()

,id,name,neighbourhood,latitude,longitude,price
0,5570,Ocean front condo on the sand,Mission Bay,32.78430,-117.25258,2050
1,29967,"Great home, 10 min walk to Beach",Pacific Beach,32.80724,-117.25630,225
2,38245,Point Loma: Den downstairs,Roseville,32.74202,-117.21870,75
3,39516,Art Studio Retreat/Rustic Cabin,North Hills,32.73188,-117.11918,74
4,54001,"La Jolla 2 Bdr Cottage: 1 Qn; 2Twns, Blks 2 Ocn",La Jolla,32.81301,-117.26856,80

In [9]:
data['price'].mean()

318.8208642373428

In [10]:
data['neighbourhood'].unique()

array(['Mission Bay', 'Pacific Beach', 'Roseville', 'North Hills',
       'La Jolla', 'College Area', 'Old Town', 'Midtown',
       'Rancho Penasquitos', 'Del Mar Heights', 'Grant Hill', 'Bay Park',
       'Kensington', 'West University Heights', 'East Lake',
       'Wooded Area', 'Mira Mesa', 'Bird Land', 'Ocean Beach',
       'Carmel Valley', 'Talmadge', 'Moreno Mission', 'Loma Portal',
       'University City', 'Torrey Pines', 'Mountain View', 'Linda Vista',
       'East Village', 'Darnall', 'Scripps Ranch', 'South Park',
       'Lake Murray', 'Little Italy', 'Balboa Park', 'Clairemont Mesa',
       'Cortez Hill', 'Park West', 'Normal Heights', 'Midtown District',
       'Marina', 'Grantville', 'Serra Mesa', 'Gaslamp Quarter', 'Encanto',
       'Tijuana River Valley', 'Otay Ranch', 'North Clairemont',
       'City Heights West', 'San Carlos', 'Sabre Springs', 'Columbia',
       'Core', 'Webster', 'Bay Ho', 'El Cerritos', 'Rancho Bernadino',
       'Gateway', 'Allied Gardens', 'Oak Park', 'Kearny Mesa', 'Memorial',
       'Rolando', 'City Heights East', 'Bario Logan', 'Palm City',
       'La Jolla Village', 'Mission Valley', 'Carmel Mountain',
       'Del Cerro', 'Northwest', 'North City', 'Paradise Hills',
       'Jomacha-Lomita', 'Mount Hope', 'Rolling Hills Ranch',
       'Tierrasanta', 'Lynwood Hills', 'Southwest', 'Eastlake Vistas',
       'Amphitheater And Water Park', 'Sorrento Valley', 'Estlake Greens',
       'Bay Terrace', 'Sky Line', 'Rancho Del Rey', 'San Ysidro',
       'Horton Plaza', 'Southcrest', 'Paseo Ranchoero', 'Yosemite Dr',
       'Nestor', 'Bonita Long Canyon', 'Sunbow', 'Alta Vista',
       'Terra Nova', 'Egger Highlands', 'Eastlake Trails',
       'Valencia Park', 'Eastlake Woods', 'Chollas View', 'Lincoln Park',
       'Emerald Hills'], dtype=object)

In [16]:
data['neighbourhood'].value_counts()

Mission Bay                    1680
Pacific Beach                  1052
La Jolla                        847
East Village                    745
North Hills                     629
                               ...
Yosemite Dr                       4
Terra Nova                        3
Amphitheater And Water Park       3
Horton Plaza                      2
Eastlake Trails                   2
Name: neighbourhood, Length: 102, dtype: int64

In [17]:
data['price'].describe()

count    12404.000000
mean       318.820864
std       1142.999037
min          0.000000
25%         85.000000
50%        140.000000
75%        250.000000
max      24999.000000
Name: price, dtype: float64

In [19]:
#save csv file
data.to_csv('listing_cleaned.csv')